@media screen and (min-width: 1921px){
    html,body{
    	font-size: 120px;
    }
}
@media screen and (max-width: 1920px){
    html,body{
    	font-size: 100px;
    }
}
@media screen and (max-width: 1600px){
    html,body{
    	font-size: 90px;
    }
}
@media screen and (max-width: 1440px){
    html,body{
    	font-size: 80px;
    }
}
@media screen and (max-width: 1366px){
    html,body{
    	font-size: 70px;
    }
}
@media screen and (max-width: 1024px){
    html,body{
    	font-size: 60px;
    }
}
header{
	font-size: 0.24rem;
}
p{
	font-size: 0.16rem;
}